html {
    font-size: 22px;
}


body {
    background-color: rgb(60, 54, 42);
    color: rgb(232, 247, 238);
}

h4 {
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 2rem;
    text-align: center;
    border: 3px dashed black;
    border-radius: 10px;
}

ol {
    padding: 4rem;
    margin: 2rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    border: 3px dashed black;
    border-radius: 2rem;
}

.container {
    margin: 1em;
    padding: 0.5em;
    border: 3px dashed black;
    background-color: rgb(102, 63, 70);
    border-radius: 3px;
}

table,
tr,
th,
td,
caption {
    border: 3px solid #e2dada;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: separate;
    border-radius: 5px;
    background-color: rgb(102, 63, 70);
    padding: 0.5rem;
}

caption {
    font-size: larger;
    text-align: center;
}

a {
    color: rgb(159, 168, 177);
}

a:visited {
    color: lightgray;
}

a:hover,
a:active {
    color: #eee;
}