html {
    font-size: 22px;
}
body {
    background-color: #5f4242;
    color: whitesmoke;
}
    
a {
    color: rgb(159, 168, 177);
}

a:visited {
    color:lightgray;
}

a:hover, a:active {
    color:#eee;
}
